.how-it-works__list{
  list-style: none;
  margin: 20px;
  padding: 0;
}

.how-it-works__title {
  font-family: Oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  margin-left: 20px;
  color: @basic-black;
}

.how-it-works li {
  position: relative;
}

.how-it-works__description {
  margin-left: auto;
  max-width: 199px;
}

.how-it-works__list-item::before  {
  content: "";
  position: absolute;
  background-color: @basic-green;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 0px;
}

.how-it-works--leaf::after {
  content: "";
  position: absolute;
  background-image: url(../img/advantage-leaf@1x.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
}

.how-it-works--powder::after {
  content: "";
  position: absolute;
  background-image: url(../img/advantage-powder@1x.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
}

.how-it-works--dining::after {
  content: "";
  position: absolute;
  background-image: url(../img/advantage-dining@1x.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
}

.how-it-works--clock::after {
  content: "";
  position: absolute;
  background-image: url(../img/advantage-clock@1x.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
}



