.page-footer {
  background-color: @basic-grey;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__logo-image {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  padding-top: 39px;
}

//
