.example {
  max-width: 320px;
  max-height: 705px;
  background-color: #EAEAEA;
}
.food-option__title {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  max-width: 76px;
}
.how-it-works__list {
  list-style: none;
  margin: 20px;
  padding: 0;
}
.how-it-works__title {
  font-family: Oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
.how-it-works li {
  position: relative;
}
.how-it-works__description {
  margin-left: auto;
  max-width: 199px;
}
.how-it-works__list-item::before {
  content: "";
  position: absolute;
  background-color: #68B738;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 0px;
}
.how-it-works--leaf::after {
  content: "";
  position: absolute;
  background-image: url(/img/advantage-leaf@1x.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
}
.how-it-works--powder::after {
  content: "";
  position: absolute;
  background-image: url(/img/advantage-powder@1x.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
}
.how-it-works--dining::after {
  content: "";
  position: absolute;
  background-image: url(/img/advantage-dining@1x.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
}
.how-it-works--clock::after {
  content: "";
  position: absolute;
  background-image: url(/img/advantage-clock@1x.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 5px;
  left: 5px;
}
.main-nav__list {
  visibility: hidden;
}
.page-footer {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.page-footer__logo-image {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  padding-top: 39px;
}
.page-footer__academy-logo {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.page-header {
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  max-height: 66px;
  border-bottom: 1px solid #D9D9D9;
}
.catalog-title {
  margin: 0 auto;
  padding: 0;
  font-family: Oswald;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  max-width: 258px;
}
.program {
  margin: 0 auto;
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #F2F2F2;
  width: 280px;
  position: relative;
}
.program::before {
  content: "";
  background-color: #68B738;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 22px;
}
.program--slim::after {
  content: "";
  background-image: url(/img/icon-cat-slim.svg);
  background-repeat: no-repeat;
  width: 36px;
  height: 50px;
  position: absolute;
  top: 21px;
  left: 29px;
}
.program--pro::after {
  content: "";
  background-image: url(/img/icon-cat-pro.svg);
  background-repeat: no-repeat;
  width: 67px;
  height: 28px;
  position: absolute;
  top: 35px;
  left: 13px;
}
.program__picture {
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-left: 22px;
}
.program__title {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  padding-left: 91px;
  padding-top: 30px;
  font-family: Oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}
.program__description {
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-left: 20px;
  padding-bottom: 23px;
  max-width: 227px;
  border-bottom: 1px solid #D9D9D9;
  position: relative;
}
.program__catalog {
  display: flex;
  align-items: center;
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
  padding-top: 19px;
  padding-bottom: 22px;
}
.social-icons__list {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  list-style: none;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #D9D9D9;
  padding-bottom: 24px;
  border-bottom: 1px solid #D9D9D9;
  padding-top: 24px;
}
.social-icons__item {
  margin: 0 auto;
  display: flex;
}
.stats {
  background-image: url(/img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  width: 320px;
  font-family: Oswald;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}
.stats__title {
  min-width: 249px;
  margin: 0 auto;
  padding: 0;
  padding-top: 27px;
  font-size: 36px;
  line-height: 36px;
}
.stats__intro {
  margin: 0 auto;
  padding: 0;
  margin-top: 25px;
  min-width: 200px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
.stats__picture {
  margin: 0 auto;
  padding: 0;
  margin-top: 29px;
}
.stats__button {
  display: flex;
  margin: 0 auto;
  width: 280px;
  height: 40px;
  background-color: #68B738;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
}
.page-body {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  outline: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

/*# sourceMappingURL=style.css.map */
